/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono', monospace;
  padding: 0;
  margin: 0;
}

a, a:visited, a:focus {
  color: #fff;
  text-decoration: none;
  transition: all 0.1s ease;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}

h1 a, h1 a:visited, h1 a:focus {
  color: #333;
  text-decoration: none;
  transition: all 0.1s ease;
}

nav {
  background: #333;
  text-align: right;
}

.container {
  padding: 0 130px;
}


ul {
  display: inline-block;
  padding-right: 130px;
}

#brand {
  position: absolute;
  top: 12px;
  left: 130px;
}

span a {
  border-bottom: 2px solid #fff;
  font-size: 18px;
  color: #fff !important;
}



li {
  list-style: none;
  display: inline-block;
  margin-right: 14px;
}

li a, li a:visited, li a:focus {
  color: #fff;
  text-decoration: none;
}


@media (max-width:640px) {

  .container {
    padding: 0 14px;
  }

  ul {
    padding-right: 14px;
  }

  body {
    font-size: .9em;
  }
  #brand {
    position: absolute;
    top: 10px;
    left: 16px;
  }
}

@media (max-width:400px) {

  nav {
    text-align: center;
  }

  #brand {
    position: static;
    display: block;
    padding-top: 16px;
  }
}
/* forms */

form {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 12px;
  text-align: left;
  margin-bottom: 6px;
}

input {
  width: 300px;
  max-width: 100%;
}

textarea {
  @extend input;
  height: 100px;
}

input, input:focus,
textarea, textarea:focus {
  outline: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}
.notice {
  color: #0f8cc7;
  text-align: center;
}

.alert {
  color: #fd4545;
  text-align: center;
}

.hint {
  display: block;
  font-size: 12px;
  text-align: left;
}

input[type="submit" i],
input[type="submit" i]:visited,
input[type="submit" i]:focus,
input[type="submit" i]:active,
.btn {
    width: auto;
    padding: 10px;
    border: 1px solid #333;
    color: #fff;
    background: #333;
    border-radius: 2px;
    font-family: "Roboto Mono";
    font-size: 15px;
    outline: 0;
    cursor: pointer;
    display: inherit;
    transition: all 0.2s ease;
}
input[type="submit" i]:hover {
  opacity: .9;
}


