/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');



img {
  width: 100%;
  max-width: 600px;
  box-shadow: 7px 7px 9px #c4c2c2;
}

body {
  font-family: 'Roboto Mono', monospace;
  padding: 0 0 50px;
  margin: 0;
}

#map {
  width: 100%;
  max-width: 600px;
  height: 400px;
}
nav a, nav a:visited, nav a:focus {
  color: #fff;
  text-decoration: none;
  transition: all 0.1s ease;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}

 a,  a:visited,  a:focus {
  color: #333;
  text-decoration: none;
  transition: all 0.1s ease;
}

.left a, .left a:visited, .left a:focus {
  color: #fff;
  text-decoration: none;
  transition: all 0.1s ease;
}

nav {
  background: #333;
  text-align: center;
  height: 150px;
}

.container {
  padding: 0 130px;
  text-align: center;
}

.food-box  {
    max-width: 600px;
    width: 100%;
    margin: 0 auto 85px;
}
ul {
  display: inline-block;
  padding: 78px 0 0 0;
}

#brand {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
}

span a {
  border: 5px solid #fff;
  font-size: 23px;
  color: #fff !important;
  padding: 5px 7px 5px;
}



li {
  list-style: none;
  display: inline-block;
  margin-right: 14px;
}

li a, li a:visited, li a:focus {
  color: #fff;
  text-decoration: none;
}


@media (max-width:640px) {

  .container {
    padding: 0 14px;
  }

  nav {
    height: 110px;
  }

  ul {
    padding: 48px 0 0 0;
  }

  body {
    font-size: .9em;
  }
  #brand {
    top: 22px;
    left: 50%;
    transform: translate(-50%);
  }

  span a {
    border: 3px solid #fff;
    font-size: 19px;
    color: #fff !important;
    padding: 3px 6px 2px;
  }
}

@media (max-width:500px) {

  nav {
    text-align: center;
  }

  .container {
    text-align: left;
  }

  .food-box {
    margin: 0 auto 70px;
  }

}
/* forms */

form {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
  max-width: 1000px;
}

label {
  display: block;
  margin-top: 12px;
  text-align: left;
  margin-bottom: 6px;
}

input {
  width: 300px;
  max-width: 95%;
}

textarea {
  @extend input;
  height: 100px;
}

input, input:focus,
textarea, textarea:focus {
  outline: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}
.notice {
  color: #0f8cc7;
  text-align: center;
}

.alert {
  color: #fd4545;
  text-align: center;
}

.hint {
  display: block;
  font-size: 12px;
  text-align: left;
}

input[type="submit" i],
input[type="submit" i]:visited,
input[type="submit" i]:focus,
input[type="submit" i]:active,
.btn {
    width: auto;
    padding: 10px;
    border: 1px solid #333;
    color: #fff;
    background: #333;
    border-radius: 2px;
    font-family: "Roboto Mono";
    font-size: 15px;
    outline: 0;
    cursor: pointer;
    display: inherit;
    transition: all 0.2s ease;
}
input[type="submit" i]:hover {
  opacity: .9;
  -webkit-appearance: none;
}

.block {
  display: inline-block !important;
}

button, html input[type=button], input[type=reset], input[type=submit]
{
    -webkit-appearance: button;
    cursor: pointer;
}


.underline {
  text-decoration: underline;;
}