<div class="left">
  <h1>Foodzie</h1>
  <p>Foodzie is a social media web app built on Ruby on Rails. Reviewers can create, edit, and delete places they've been to. Foodzie provides a list of restaurants(with reviews and comments) that will help people find the right place to eat!</p>
</div>
