<div class="left">
  <h1>Foodzie - Good Eats</h1>
  <p>Foodzie is a social media web app built on Ruby on Rails. Reviewers can create, edit, and delete places they've been to. Foodzie provides a list of restaurants(with reviews and comments) that will help people find the right place to eat!</p>
  <p> This web app was designed and developed by <span style="font-weight:400">pkayokay. </span></p>

</div>
