<style>
  .container {
    padding: 0;
  }
</style>


  <% @places.each do |place| %>
    <div class="food-box col-md-6">
      <%= link_to place_path(place) do %>        
        <div class="image-box">
          <div class="color-box"></div>
          <div class="caption">
            <h1><%= place.name %> </h1>
          </div>
          <%= image_tag place.defaultpicture, class: 'img' %> <!--remove this and add above -->        
        </div>
      <% end %>
    </div>
  <% end %>
  <br>
<div class="center"> 
  <%= will_paginate @posts %>
</div>


